secret.txt
secret

build*/
*/build*/
cmake-build-*/

*.pro.user
*.pro.user.*
*.qmlproject.user
*.qmlproject.user.*
*.qbs.user
*.qbs.user.*

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
CTestTestfile.cmake
cmake_install.cmake
Makefile
*.cmake

.ninja_log
.ninja_deps
build.ninja

*.moc
moc_*.cpp
*.qrc.dep
*.qmlc
*.jsc
*.pyc
*.rej
*.orig

qmlcache/
.qml_cache/

android-build*/
android-build-*/
*.apk
*.aab
*.apks
*.dex
*.class

.gradle/
*/.gradle/
*/build/
local.properties
gradle-app.setting

.idea/
*.iml
*.ipr
*.iws

*.log

*~
*.swp
*.tmp
*.bak
*.autosave


.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini



android/openssl/*/libssl*.so
android/openssl/*/libcrypto*.so

*.keystore
*.jks
*.pem
*.key
*.p12
android/*/build/
android/*/local.properties
android/*/release/
android/*/debug/
android/*/.cxx/
